@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.correct {
  background: green;
}
.wrong {
  background: red;
}
