@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #fff !important;
}
.ant-btn .ant-btn-primary {
  color: #1890ff !important;
}
.correct {
  background: green;
}
.wrong {
  background: red;
}
